<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul class="main-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/monkeys">All Monkeys</a></li>
        <li><a href="/categories">All Categories</a></li>
      </ul>
      <ul class="create-nav">
        <li><a href="/monkey/create">Create A Monkey</a></li>
        <li><a href="/category/create">Create A Category</a></li>
      </ul>
    </nav>
    <main>
      <h1>Monkey Inventory!</h1>
      <p class="homepage-main-text">Welcome to the monkey inventory! Here you'll find various monkeys of various talents. Feel free to explore!</p>
      <h2>Overview:</h2>
      <ul>
        <li>Monkey Count: <%= monkey_count %></li>
        <li>Category Count: <%= category_count %></li>
      </ul>
    </main>
  </body>
</html>
