@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

html, body {
    height: 100%;
}

body {
    display: flex;
}

p {
    margin-top: 32px;
    margin-bottom: 32px;
}

ul {
    padding: 0;
}

li {
    margin: 16px;
}

a {
    text-decoration: none;
    color: rgb(21, 105, 160);
}

a:hover {
    text-decoration: underline;
}

nav {
    min-width: 10vw;
    background-color: #24282a;
}

main {
    padding-left: 64px;
    padding-right: 64px;
    width: 100%;
    color: #cbd0d0;
    background-color: #33373a;
}

.main-nav, .create-nav {
    list-style: none;
}

.main-nav {
    margin-bottom: 64px;
}

.homepage-main-text {
    margin-bottom: 64px;
}

.detail-header {
    margin-bottom: 32px;
}

.delete-link {
    margin-top: 64px;
}

.form-input {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #24282a;
    border-radius: 4px;
    width: 100%;
}

.submit-button {
    margin-top: 32px;
    width: 96px;
    height: 48px;
    border: 1px solid #24282a;
    border-radius: 8px;
    transition: all .2s ease-in;
    background-color: rgb(21, 105, 160);
    color: white;
}

.submit-button:hover {
    cursor: pointer;
    background-color: rgb(24, 118, 180);
}
